// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
  .title {
    font-weight: bold;
    font-size: 26px;
  }

  .text {
    font-size: 18px;
  }

  .controls {
    padding-top: 10px;
  }
}

.post {
  .private {
    margin-right: 10px;
  }

  #post_text {
    height: 500px;
  }
}

.well-small{
  p{
    font-size: 12px;
    margin-bottom: 0px;
  }
}