.posts {
  .title {
    font-weight: bold;
    font-size: 26px;
  }

  .text {
    padding-top: 10px;
    font-size: 14px;
  }

  .controls {
    padding-top: 10px;
  }

  .row {
    margin-left: 0px;
  }
}

.post {
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 30px;
  margin-bottom: 5px;

  .pictures {
    margin-top: 15px;
    margin-bottom: 33px;

    .caption {
      font-size: 10px;
      margin-bottom: 15px;
      text-align: right;
      margin-right: 100px;
    }
  }

  .well-small{
    text-align: right;
  }

  .text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }

  .tags {
    font-size: 14px;
    .label {
      margin-right: 9px;
    }
  }

  .private {
    margin-right: 10px;
  }

  #post_text {
    height: 500px;
  }
}

.well-small{
  p{
    font-size: 12px;
    margin-bottom: 0px;
  }
}

.social_shares {
  margin-bottom: 20px;
}

.tags {
  .title {
    font-size: 16px;
    text-align: center;
  }
}

.picture {
  margin-bottom: 18px;
  width: 300px;

  .pull-left {
    position: absolute;
  }
}

