.posts {
  .title {
    font-weight: bold;
    font-size: 26px;
  }

  .text {
    font-family: 'Alegreya', serif;
  }

  .well {
  border: 1px solid #22C8E7;
  border-left: 0px;
  border-right: 0px;
  padding-bottom: 29px;
  background-color: rgba(11, 187, 221, 0.25);

  .avg_rating{
    margin-bottom: 18px;
  }

    .row{ 
      margin-left: 0px;

      .span1, .span10 {
        margin-left: 6px;
      }
    }
    
    a {
      color: white;
      &:visited {
        color: white;
      }
      &:hover {
        color: #22C8E7;
        
      }
    }
  }

  .text {
    padding-top: 10px;
    font-size: 14px;
  }

  .controls {
    display: none;
    
    a {
      &:visited {
        color: #333;
      }
      font-weight:bolder;
      font-size: 12px;
      color: #333;
      background-image: -webkit-linear-gradient(top, #feffef, #757575);
      background-image: -moz-linear-gradient(top, #feffef, #757575);
      background-image: -o-linear-gradient(top, #feffef, #757575);
      
      &:hover {
        color: #333;
        background-image: -webkit-linear-gradient(top, #757575, #feffef);
        background-image: -moz-linear-gradient(top, #757575, #feffef);
        background-image: -o-linear-gradient(top, #757575, #feffef);
      }

    }
  }

  .row {
    margin-left: 0px;
  }
}

.post {
  background-color: rgba(8, 39, 37, 0.86);
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 30px;
  margin-bottom: 5px;

  .select {
    padding-bottom: 70px;
  }

  .controls {
    bottom: 12px;
    a {
      &:visited {
        color: #333;
      }
      font-weight:bolder;
      font-size: 12px;
      color: #333;
      background-image: -webkit-linear-gradient(top, #feffef, #757575);
      background-image: -moz-linear-gradient(top, #feffef, #757575);
      background-image: -o-linear-gradient(top, #feffef, #757575);
      
      &:hover {
        color: #333;
        background-image: -webkit-linear-gradient(top, #757575, #feffef);
        background-image: -moz-linear-gradient(top, #757575, #feffef);
        background-image: -o-linear-gradient(top, #757575, #feffef);
      }

    }
  }

  .author {
    background-color: rgba(172, 175, 199, 0.66);
    border-color: rgb(0, 3, 3);
    color: rgb(1, 14, 13);
  }

  .pictures {
    margin-top: 15px;
    margin-bottom: 33px;

    .caption {
      font-size: 10px;
      margin-bottom: 15px;
      text-align: right;
      margin-right: 100px;
    }
  }

  .well-small{
    text-align: right;
  }

  .text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: 'Alegreya', serif;
  }

  .tags {
    font-size: 14px;
    .label {
      margin-right: 9px;
    }
  }

  .private {
    margin-right: 10px;
  }

  #post_text {
    height: 500px;
  }
}

.well-small{
  p{
    font-size: 12px;
    margin-bottom: 0px;
  }
}

.social_shares {
  margin-bottom: 20px;
}

.tags {
  .title {
    font-size: 16px;
    text-align: center;
  }
}

.picture {
  margin-bottom: 18px;
  width: 300px;

  .pull-left {
    position: absolute;
  }
}

.post_form_submit {
  font-family: 'Life Savers', cursive;
  border-radius: 7px;
  color: black;
  background-image: -webkit-linear-gradient(top, #feffef, #757575);
  background-image: -moz-linear-gradient(top, #feffef, #757575);
  background-image: -o-linear-gradient(top, #feffef, #757575);
  border-color: rgba(149, 185, 184, 0.82);
  font-size: 17px;
  font-weight: bolder;

  &:hover {
    color: #333;
    background-image: -webkit-linear-gradient(top, #757575, #feffef);
    background-image: -moz-linear-gradient(top, #757575, #feffef);
    background-image: -o-linear-gradient(top, #757575, #feffef);
  }
}


.post_can_modify input {
  display: inline;
  margin: 8px;
}

.post_can_modify label {
  display: inline;
}

.post_private label {
  display: inline;
}

.post_private input {
  display: inline;
  margin: 8px;
}

